__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
*.spec
logs/
.vscode/
.idea/
.history/
*.log
data/*.db
data/*.sqlite
*.mp4
测试/
# Exclude specific files requested by user
nerwreadme.md
*.bat
*.rar
